
@font-face {
  font-family: Dancing Script;
    src: url('../fuentes/DancingScript-Bold.ttf');
}
@font-face {
  font-family: Dancing Script Bold;
  src: url('../fuentes/DancingScript-Regular.ttf');
}
@media (min-width: 900px) {
  body{
  font-family: "Dancing Script";
  background-color: black;
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  }
  section #contenido{
  width: 900px;
  text-align: center;
  }
  header{
      width: 99%;
      background-color: #5b7989;
      color: white;
      border-top-right-radius:10px;
      border-top-left-radius: 10px;
      padding: 1.5em 0px 0px 10px;
      display: inline-block;

  }
  header #titulo{
    float: left;
  }
  header #menu{
  float: right;
  }
  section .contenedor1{
    display: flex;
  	flex-direction: row;
    background-color:  #d5c75f;
    border:1px solid;
  }
  section .contenedor1 div img{
    width: 70%;
  }
  section .contenedor2{
    display: flex;
  	flex-direction: row;
    background-color:  #d5c75f;
    border:1px solid;
  }
  section .contenedor2 div img{
    width: 70%;
  }

  footer section{
    display: flex;
    flex-direction: row;
    background-color:  #C6d5c5;
    border:1px solid;
  }
  footer section div{
    width: 25%;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
  }
  h3{
    font-family: "Dancing Script Bold";
  }
}
@media (max-width: 899px){
  body{
  font-family: Dancing Script;
  background-color: black;
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  }
  section #contenido{
  width: 100%;
  text-align: center;
  }
  header{
      width: 99%;
      background-color: #5b7989;
      color: white;
      border-top-right-radius:10px;
      border-top-left-radius: 10px;
      padding: 1.5em 0px 0px 10px;
      display: inline-block;

  }
  header #titulo{
    text-align: center;
    font-size: 2em;
  }

  section .contenedor1{

  	flex-direction: column;
    background-color:  #d5c75f;
    border:1px solid;
  }
  section .contenedor1 div img{
    width: 70%;
  }
  section .contenedor2{

  	flex-direction: column;
    background-color:  #d5c75f;
    border:1px solid;
  }
  section .contenedor2 div img{
    width: 70%;
  }
  footer section{

  	flex-direction: column;
    background-color:  #C6d5c5;
    border:1px solid;

  }

  footer section div{
    width: 25%;
    border-radius: 10px;
    text-align: left;
    margin-left: 5%;
  }
  h3{
    font-family: "Dancing Script Bold";
  }
  header #menu {

    position: relative;
    left: 25%;
  }
}

header #menu ul li{
  list-style: none;
  color: white;
  padding-right: 1em;
  float: left;
}

header #menu  ul li a{
  text-decoration: none;
  color: white;
}
header #menu ul li a:hover{
  text-decoration: underline;
}

section .contenedor1{
  background-color: #82c3a6;
  text-align: center;
}
section .contenedor2{
  background-color: #82c3a6;
  text-align: center;
}
#imagen1{
  filter: blur(10px);
}
#imagen2, #imagen4, #imagen6{
  -webkit-filter: grayscale(100%);
}
#imagen3{
  -webkit-filter:sepia(90%);

}
#imagen2 img{
  text-shadow: #82c3a6;
}
#imagen2 >div >a{
  text-decoration: none;
  text-decoration: underline;
  color: black;
}
#imagen3 >div >a{
  text-decoration: none;
  text-decoration: underline;
  color: black;
}
.imagen1{
  width: 60%;
}
section .contenedor1 > div{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
section .contenedor2 > div{
  text-align: center;
  padding: 10px;
  margin: 10px;
}


#imagen3 img{
  text-shadow: #82c3a6;
}
body{
  animation-name: slidein;
  animation-duration: 1s;
}
@keyframes slidein {
  100% {
  transform: translateY(0%);
  }
  60%{
    transform: translateY(-5%);
  }
  0%{
transform: translateY(150%);
  }
}
